n8n/swarm_monitor.json
{
  "name": "Swarm Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8055/swarm/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Check Swarm Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status === 'offline' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3",
      "name": "If Swarm Offline",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "content": "### Swarm Health Check\nMonitors the swarm API and routes alerts if the system hangs or fails.",
        "height": 200,
        "width": 300
      },
      "id": "4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        140
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Swarm Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Swarm Status": {
      "main": [
        [
          {
            "node": "If Swarm Offline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "hash": "abc123swarmmonitor",
  "id": "3"
}
